spring:
  devtools:
    restart:
      enabled: true
  datasource:
    url: jdbc:h2:tcp://localhost:9092/./data/winelist
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

