name: Deploy

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]

jobs:
    deploy:
        if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
        runs-on: ubuntu-latest

        permissions:
            contents: read
            id-token: write

        env:
          PROJECT_ID: ${{ vars.GCP_PROJECT_ID }}
          REGION: ${{ vars.GCP_REGION }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                ref: ${{ github.event.workflow_run.head_sha }}

            - name: Authenticate to GCP
              uses: google-github-actions/auth@v2
              with:
                workload_identity_provider: ${{ vars.GCP_WIF_PROVIDER }}
                service_account: ${{ vars.GCP_CI_SERVICE_ACCOUNT }}

            - name: Setup gCloud
              uses: google-github-actions/setup-gcloud@v2

            - name: Docker auth
              run: |
                gcloud auth configure-docker ${{ vars.AR_HOST }} --quiet

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.5.7


            - name: Deploy
              run: make deploy-ci
